body
{
    margin: 0;
    padding: 0;
    background-image: url(assets/casino1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: 'Arial';
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        
        border-radius: 15px ;

}
h2{
    text-align: center;
    color: #ebdd16;
    padding: 20px;
}
label{
    color: #ccbf0b;
    font-size: 30px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    background-color: blue;


}
span{
    color: white;
    font-size: 17px;
}
a{
    float: none;
    background-color: grey;
    color:white;
    text-decoration: none;
}